* {

}

a {
  color: white;
  transition: 0.5s;
}

a:hover {
  transition: 0.5s;
  color: rgb(57, 57, 57);
}

body {
  margin: 3rem;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-image: url('../images/hatch-sky.png');
  background-size: cover;        /* Skaalaa kuva kattamaan koko alue */
  background-repeat: no-repeat;  /* Estää kuvan toistumisen */
  background-position: center;   /* Asettaa kuvan keskelle */
}
li, a, ul {
 list-style: none;
 text-decoration: none;
 padding: 0;
 margin: 0;
}

.root-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list{
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.code-snippet {
  padding: 1rem;
  border: 0.15rem solid rgba(122, 122, 122, 0.668);
  border-radius: 1rem;
}

.button {
  color: rgb(0, 0, 0);
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.5rem;
  border-color: black;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.quiz {
  text-align: center;
}

.icon-lang-list{
  display: flex;
  gap: 13.625rem;
  justify-content: center;
}

.root-section h2{
  font-size: 4rem;
  text-align: center;
}

.root-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-wrapper{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.root-content .button{
  display: inline-block;
}

.root-content {
  text-align: center;
  padding-top: 1rem;
}

.icon-wrapper img {
  width: 4rem;
  padding: 2rem;
}

.logo-image {
  width: 5rem;
}

.hatch-logo {
  display: flex;
  justify-content: center;
}

